.uniscene {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.uniscene {
  z-index: 3;
  background-image: url('day.png');
  background-image: -webkit-image-set(url('day.webp') 1x);
}
[webp-fallback="1"] .uniscene {
  background-image: url('day.png');
}

[data-theme="dark"] .uniscene {
  background-image: url('night.png');
  background-image: -webkit-image-set(url('night.webp') 1x);
}
[data-theme="dark"][webp-fallback="1"] .uniscene {
  background-image: url('night.png');
}

@media (prefers-color-scheme: dark) {
  .uniscene {
    background-image: url('night.png');
    background-image: -webkit-image-set(url('night.webp') 1x);
  }
  [webp-fallback="1"] .uniscene {
    background-image: url('night.png');
  }

  [data-theme="light"] .uniscene {
    background-image: url('day.png');
    background-image: -webkit-image-set(url('day.webp') 1x);
  }
  [data-theme="light"][webp-fallback="1"] .uniscene {
    background-image: url('day.png');
  }
}
