*
!*/
!*.js
!*.mjs
!*.sol
!*.slb
!*.yml
!*.md
!*.html
!*.css
!*.woff2
!*.png
!*.jpg
!*.jpeg
!*.m4a
!*.svg
!*.webp
!package.json
!yarn.lock
!Dockerfile
!LICENSE
web/lib/config.js
web/lib/rollup-config.js
