/* custom page styles goes here */

p.details {
  top: 10em;
  padding: 1rem;
  background-color: white;
  border-radius: 6px;
  border: 2px solid var( --color-bg);
}

.proposal {
  margin: 1rem;
  padding: 2rem;
  background-color: var(--color-bg);
  border-radius: 9px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

habitat-slider {
  background: var(--gradient-coldhot);
}
