/* custom page styles goes here */
.pending,
.proposed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  gap: 8px;
}

.listitem {
  margin: 1rem;
  background: linear-gradient(135deg, rgba(99, 91, 255, 0.15) 6.42%, rgba(59, 222, 255, 0.15) 53.21%, rgba(28, 219, 158, 0.15) 98.54%);
  border: 1px solid #C4C4C4;
  border-radius: 20px;
}

.auto-col-grid {
  grid-template-columns: repeat(auto-fill, minmax(44ch, 1fr));
}

habitat-slider {
  background: var(--gradient-coldhot);
}
