/* custom page styles goes here */
.pending,
.proposed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  gap: 8px;
}

.auto-col-grid {
  grid-template-columns: repeat(auto-fill, minmax(44ch, 1fr));
}
