.tabs > div {
  background-color: var(--color-bg);
  cursor: pointer;
}

.tabs > div.active {
  background-color: transparent;
}

.tabcontainer {
  width: max-content;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  transition: .5s all ease-in;
}

.tabcontainer > section {
  width: 100vw;
}

.circle {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  padding: .1%;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(180deg, rgba(27, 177, 134, 0.8) 0%, rgba(64, 208, 142, 0.8) 29.17%, rgba(34, 244, 177, 0.8) 63.02%, rgba(31, 219, 113, 0.8) 100%);
  background-blend-mode: color-dodge;
}

.circle > .inner {
  width: 90%;
  height: 90%;
  margin: 5%;
  border-radius: 100%;
  background-color: var(--color-bg);
}

#labels > p {
  border: 1px solid;
  border-radius: 1rem;
  padding: .3rem;
  margin: 0 .3rem 0 0;
  font-size: .7rem;
  font-weight: bold;
  color: var(--color-text);
}

#labels {
  display: flex;
  flex-direction: row;
  margin: .5rem 0;
}

.listitem {
  min-width: auto;
  max-width: 42ch;
  margin: 1rem;
  padding: 1rem;
  background: linear-gradient(135deg, rgba(99, 91, 255, 0.15) 6.42%, rgba(59, 222, 255, 0.15) 53.21%, rgba(28, 219, 158, 0.15) 98.54%);
  border: 1px solid #C4C4C4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

habitat-slider {
  background: linear-gradient(240deg, #F73F02 -7.27%, rgba(200, 131, 255, 0.5) 40.98%, #C8FCFD 89.92%);
}
