@import '/lib/fonts/Everett.css';
@import '/lib/assets/base.css';
@import '/lib/assets/icons.css';

* {
  box-sizing: border-box;
}

:root {
  --font-family-default: 'Everett';
  --font-family-mono: 'Everett';
  --section-pos-left: 0;
  --section-panel-left: 23ch;
  --section-panel-right: 0;
  --section-width-panel: calc(99vw - var(--section-panel-left));
  --panel-padding: 2em;
  --color-bg-yellow: #FFFEC8;
  --color-accent-grey: #f0f0f0;
  --color-box: #fafafa;
  --color-box-border: #404040;
  --color-box-selected: #000000;
  --color-box-selected-text: #ffffff;
}

[data-theme="dark"] {
  --color-bg-yellow: #708090;
  --color-accent-grey: #404040;
  --color-box: #404040;
  --color-grey: #909090;
  --color-box-border: #bfbfbf;
}

@media (max-width: 1100px) {
  :root {
    --section-pos-left: -23ch;
    --section-panel-left: 0;
    --panel-padding: .5em;
  }

  #sidebar-btn {
    display: block;
  }
}

body {
  font-size: 16px;
}

a, p {
  margin: 0;
  font-size: 1em;
}

label {
  font-size: .7em;
}

button, .button {
  font-size: 1em;
  border-radius: 1em;
}

.small {
  font-size: .8em;
}

.smaller {
  font-size: .7em;
}

.big {
  font-size: 1.5em;
}

.bigger {
  font-size: 1em;
}


@keyframes panel {
  from {
    transform: rotateX(90deg) scale(3);
    opacity: 0;
  }
  to {
    transform: scale(1) translateX(0) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes panel {
  from {
    transform: translateX(100%) scale(3);
  }
  to {
    transform: scale(1) translateX(0);
  }
}

@keyframes panel {
  from {
    transform: rotateY(-90deg) translateZ(1000px);
  }
  to {
  }
}

@keyframes panel {
  from {
    opacity: 0;
  }
}

@keyframes banana {
  from {
  }
  to {
    transform: translateY(-100vh) translateX(var(--tx)) scale(var(--ts)) rotateZ(var(--rz));
  }
}

habitat-panel, .habitat-panel {
  position: absolute;
  bottom: 0;
  right: var(--section-panel-right);
  left: var(--section-panel-left);
  transition: all .1s ease-out;
  animation: panel .3s ease-in;
  border-radius: 1em 0 0 0;
  border: none;
  overflow: hidden;
}

section#left {
  position: absolute;
  left: var(--section-pos-left);
  width: 23ch;
  overflow: hidden;
}

select {
  padding: 1em;
  border-radius: 2em;
  outline: none;
}

select:focus {
  box-shadow: inset 0px 0px 4px black;
}

#sidebar-btn {
  display: none;
  position: absolute;
  bottom: -2em;
  left: -1em;
  width: 4em;
  height: 4em;
  border-radius: 2em;
  color: var(--color-bg);
  z-index: 99;
  cursor: pointer;
  background-color: var(--color-bg-invert);
  transition: all .1s ease-in;
}

#sidebar-btn::after {
  content: '\00bb';
  position: relative;
  left: .75em;
  top: 0.3em;
  font-size: 2em;
}

@media (max-width: 1100px) {
  #sidebar-btn {
    display: block;
  }
}

#sidebar-toggle {
  display: none;
}

#sidebar-toggle:checked ~ section {
  --section-pos-left: 0;
  --section-panel-left: 23ch;
  --section-panel-right: -23ch;
}

#sidebar-toggle:checked ~ #sidebar-btn {
  transform: rotateY(180deg);
}

.no-max-width,
.no-max-width * {
  max-width: none;
}

body.with-burger-menu #menu {
  top: auto;
  right: 1em;
  bottom: .5em;
}

.dropdown {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.dropdown::after {
  content: '\25be';
  place-self: center right;
  position: relative;
  pointer-events: none;
}

.dropdown > input[list] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.dropdown > input[list]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

button, .button {
  display: revert;
}

.s {
  font-size: .75em;
}

.m {
  font-size: 1em;
}

.l {
  font-size: 1.25em;
}

.xl {
  font-size: 2em;
  line-height: 1.5em;
}

.box {
  margin: 0;
  padding: 1em 2em;
  border-radius: 2em;
  background-color: var(--color-box);
  border: 1px solid var(--color-box-border);
}
.box.selected {
  background-color: var(--color-box-selected);
}
.box.selected * {
  color: var(--color-box-selected-text);
}

.boxBtn {
  background-color: #d0d0d0;
  text-transform: uppercase;
  max-width: none;
  width: 100%;
  border: none;
  box-shadow: none;
}

#boxleg {
  position: relative;
  top: -.1em;
  right: 3em;
  bottom: 0;
  margin: 0;
  padding: .5em 4em .5em 4em;
  font-size: .75em;
  font-weight: lighter;
  border-radius: 0 0 2em 2em;
  place-self: flex-end;
  background-color: var(--color-box);
  border: 1px solid var(--color-box-border);
  border-top: none;
  box-shadow: none;
  color: var(--color-text);
}

#boxleg:hover {
  transform: none;
}

.mtb {
  margin: 1em 0;
}
