#labels > p {
  border: 1px solid;
  border-radius: 1rem;
  padding: .3rem;
  margin: 0 .3rem 0 0;
  font-size: .7rem;
  font-weight: bold;
  color: var(--color-text);
}

#labels {
  display: flex;
  flex-direction: row;
  margin: .5rem 0;
}

habitat-slider {
  background: var(--gradient-coldhot);
}
