#labels > p {
  border: 1px solid;
  border-radius: 1rem;
  padding: .3rem;
  margin: 0 .3rem 0 0;
  font-size: .7rem;
  font-weight: bold;
  color: var(--color-text);
}

#labels {
  display: flex;
  flex-direction: row;
  margin: .5rem 0;
}

.listitem {
  min-width: auto;
  max-width: 42ch;
  margin: 1rem;
  padding: 1rem;
  background: linear-gradient(135deg, rgba(99, 91, 255, 0.15) 6.42%, rgba(59, 222, 255, 0.15) 53.21%, rgba(28, 219, 158, 0.15) 98.54%);
  border: 1px solid #C4C4C4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

habitat-slider {
  background: var(--gradient-coldhot);
}
