@import '/config.css';
@import '../common/Gradient/style.css';

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  line-height: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  color: var(--color-text);
  font-family: var(--font-family-default);
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: none;
  tap-highlight-color: none;
}

.Nav {
  display: flex;
}

.Nav > div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  place-self: center;
  flex-wrap: wrap;
}

.Nav > div > .button {
  margin: .3em;
}

footer, section, div, button, input, .button, textarea {
  display: block;
  margin: 1vw;
  padding: 0;
  outline: none;
  white-space: pre-line;
  border: none;
  overflow: hidden;
  font-family: var(--font-family-default);
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

section {
  margin-bottom: 3em;
}

div {
  display: block;
  margin: 0;
  animation: opacity 0.3s ease-out;
}

a, p {
  margin: 0 auto;
  line-height: 1.7;
  font-size: 1em;
  text-align: left;
  white-space: pre-wrap;
  word-break: break-word;
  text-decoration: none;
  color: var(--color-text);
}

a {
  color: var( --color-brand1);
}

span, label, pre {
  line-height: 1;
}

p {
  display: block;
  font-weight: 400;
  padding: 0 0.3em;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

h1, h2, h3 {
  color: var( --color-text);
  font-weight: 900;
  line-height: 1;
  display: block;
  padding: 0 0.3em;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

p.sub, p.heading, h1 {
  color: var( --color-text);
  margin-bottom: 5px;
}

p.heading, h1 {
  font-size: 1.3em;
  line-height: 1.7;
}

img {
  display: block;
  max-width: 100%;
}

button, input, div, .button {
  border-color: var( --color-brand1);
}

input {
  width: 42ch;
  max-width: 99%;
  margin: 1em 0;
  padding: 0.3em;
  border-bottom: 3px solid;
  border-color: inherit;
  background: none;
}

textarea {
  width: 64ch;
  max-width: 99%;
  min-height: 23em;
  max-height: 100%;
  padding: 1em;
  border: 1px solid var( --color-brand1);
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0 0.3em;
  background-color: transparent;
}

footer > .wrapper > a {
  display: block;
}

footer > .wrapper > a > img {
  display: inline-block;
}

@keyframes opacity {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1.0;
  }
}

@keyframes jumpIn {
  from {
    transform: translateX(-100%) rotateY(360deg);
  }
  to {
    transform: translateX(0) rotateY(0);
  }
}

@keyframes blink {
  from {
    max-height: 0em;
    transform: rotateY(90deg);
  }
  to {
    max-height: 50em;
    transform: rotateY(0deg);
  }
}

.wrapperContent {
  flex-basis: auto;
  flex-grow: 0;
  width: 90%;
  margin: 0 auto -2rem auto;
  padding: 1vw;
  border-radius: 9px;
  overflow: scroll !important;
  background-color: var(--color-bg);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.wrapperNav {
  flex-shrink: 0;
  flex-grow: 0;
  width: 90%;
  margin: 9px auto;
  background-color: var(--color-bg);
  padding: 1vw;
  padding-bottom: 2vw;
  border-radius: 9px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flow, button, .button {
  margin: 1em;
  animation: jumpIn 1s;
}

button, .button {
  display: grid;
  place-content: center;
  min-width: 6em;
  max-width: max-content;
  margin: 1em .3em;
  padding: .7em;
  line-height: 1;
  text-align: center;
  color: var( --color-text);;
  background: #FFFFFF;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  vertical-align: bottom;
  white-space: pre-wrap;
  cursor: pointer;
}

button:hover,
button:focus,
button:active,
.button:hover,
.button:focus,
.button:active {
  background-color: var( --color-brand1);
  color: var(--color-bg);
}

button:disabled,
.button:disabled {
  background: #d5d5d5a6;
  box-shadow: none;
}

button#expanded,
.button#expanded {
  background-color: var(--color-bg);
  color: var(--color-text);
}

div, button, .button {
  transition: 0.3s ease-in;
}

.flow > button {
  display: inline-grid;
}

.error {
  color: var(--color-error);
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 1rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr) repeat(1, 1fr);
  grid-gap: 1rem;
}

.grid-2 > p,
.grid-2 > a {
  margin: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexSpaceBetween {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

kv {
  flex: 1 1 auto;
  margin: 0.1em;
  padding: 0.1em;
}

kv#title {
  flex: 100 1 auto;
}

kv > p {
  white-space: pre-line;
}

kv > p:nth-child(1) {
  color: var(--color-brand1);
}

.item, .listitem {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  padding: 10px 15px;
  margin: 2vw 1vw;
  background-color: #ffffff85;
}

.item > div, .listitem > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

.flow p > span {
  font-family: var(--font-family-mono);
}

.highlight {
  background-color: var(--color-bg);
  padding: 1rem;
}

space {
  display: block;
  height: 1rem;
}

sep {
  display: block;
  height: 1rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid black;
}

.overlay {
  display: flex;
  flex-direction: column;
  place-content: space-evenly;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color-bg);
}

.center {
  max-width: fit-content;
  max-height: fit-content;
  margin: 0 auto;
}
