.para {
  width: 100%;
  min-width: 170vh;
  max-width: 97em;
  margin: 0 auto;
  height: 120vh;
  overflow: hidden;
  transform: translateZ(0);
  perspective: 1000px;
  animation: none;
  transition: none;
}

.para > div {
  height: 110vh;
  position: absolute;
  transition: all .07s linear;
  animation: none;
}

@keyframes scene {
  from {
    perspective: 600px;
    perspective-origin: left;
  }
  to {
    perspective: 1000px;
    perspective-origin: center;
  }
}

.l1, .l2, .l3 {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.l1 {
  z-index: 1;
  background-image: url('day/1.png');
  background-image: -webkit-image-set(url('day/1.webp') 1x);
}
[webp-fallback="1"] .l1 {
  background-image: url('day/1.png');
}

.l2 {
  z-index: 2;
  background-image: url('day/2.png');
  background-image: -webkit-image-set(url('day/2.webp') 1x);
}
[webp-fallback="1"] .l2 {
  background-image: url('day/2.png');
}

.l3 {
  z-index: 3;
  background-image: url('day/3.png');
  background-image: -webkit-image-set(url('day/3.webp') 1x);
}
[webp-fallback="1"] .l3 {
  background-image: url('day/3.png');
}

.l4 {
  z-index: 4;
}

[data-theme="dark"] .l1 {
  background-image: url('night/1.png');
  background-image: -webkit-image-set(url('night/1.webp') 1x);
}
[data-theme="dark"][webp-fallback="1"] .l1 {
  background-image: url('night/1.png');
}
[data-theme="dark"] .l2 {
  background-image: url('night/2.png');
  background-image: -webkit-image-set(url('night/2.webp') 1x);
}
[data-theme="dark"][webp-fallback="1"] .l2 {
  background-image: url('night/2.png');
}
[data-theme="dark"] .l3 {
  background-image: url('night/3.png');
  background-image: -webkit-image-set(url('night/3.webp') 1x);
}
[data-theme="dark"][webp-fallback="1"] .l3 {
  background-image: url('night/3.png');
}

@media (prefers-color-scheme: dark) {
  .l1 {
    background-image: url('night/1.png');
    background-image: -webkit-image-set(url('night/1.webp') 1x);
  }
  [webp-fallback="1"] .l1 {
    background-image: url('night/1.png');
  }

  .l2 {
    background-image: url('night/2.png');
    background-image: -webkit-image-set(url('night/2.webp') 1x);
  }
  [webp-fallback="1"] .l2 {
    background-image: url('night/2.png');
  }

  .l3 {
    background-image: url('night/3.png');
    background-image: -webkit-image-set(url('night/3.webp') 1x);
  }
  [webp-fallback="1"] .l3 {
    background-image: url('night/3.png');
  }

  [data-theme="light"] .l1 {
    background-image: url('day/1.png');
    background-image: -webkit-image-set(url('day/1.webp') 1x);
  }
  [data-theme="light"][webp-fallback="1"] .l1 {
    background-image: url('day/1.png');
  }

  [data-theme="light"] .l2 {
    background-image: url('day/2.png');
    background-image: -webkit-image-set(url('day/2.webp') 1x);
  }
  [data-theme="light"][webp-fallback="1"] .l2 {
    background-image: url('day/2.png');
  }

  [data-theme="light"] .l3 {
    background-image: url('day/3.png');
    background-image: -webkit-image-set(url('day/3.webp') 1x);
  }
  [data-theme="light"][webp-fallback="1"] .l3 {
    background-image: url('day/3.png');
  }
}
