@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto%20Mono:wght@400');

:root {
  --color-bg: #FAFDFFAC;
  --color-error: #eb4d62;
  --color-text: #000000;
  --color-grey: #606060;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-link: #93b1e0;
  --color-brand1: #c6f6f7;
  --color-brand2: #d9f7f6;
  --color-brand3: #eaf8f9;
  --color-brand4: #fbfafb;
  --font-family-default: 'Work Sans';
  --font-family-mono: 'Roboto Mono';
}

.navLogo {
  display: block;
  min-width: 160px;
  min-height: 74px;
  background-image: url('assets/logoAnimated.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
